{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% comment %} title {% endcomment %}
{% block title %}{% endblock title %}


{% comment %} body {% endcomment %}
{% block content %}

<h1 class='text-center my-3'>리뷰 정보조회</h1>
  <h3>{{ review.title }}</h3>
<hr>
<p>영화제목 : {{ review.movie_name }}</p>
<br>
<p>내용 : {{ review.content }}</p>
<br>
<p>평점 : {{ review.grade }}</p>
<hr>

{% if request.user == review.user %}
  <a class='btn btn-dark my-3' href="{% url 'reviews:update' review.pk %}">수정하기</a>
  <a class='btn btn-dark my-3' href="{% url 'reviews:delete' review.pk %}">삭제하기</a>
{% endif %}
<form id="like-form" method="POST" data-review-id="{{ review.pk }}">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
    <input type="submit" class="btn btn-dark" value="좋아요">
    {% comment %} {% bootstrap_button buton_type="submit" content="좋아요" %} {% endcomment %}
    {% else %}
    {% bootstrap_button buton_type="submit" content="로그인이 필요" %}
    {% endif %}
    <span class="mx-3" id="like-count">{{review.like.count}}</span>
</form>
  <hr>
{% if request.user.is_authenticated %}
  <div>
    <form method="POST" id='comment-add' data-review-id="{{ review.pk }}">
        {% csrf_token %}
        {% bootstrap_form comment_form layout='inline'%}
        <input type="submit" class='btn btn-dark mt-2' value='댓글달기'>
    </form>
  </div>
  {% endif %}
  <h3 class='mt-4'>댓글</h3>
  {% if comments %}
    <p><b>{{comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  <hr>
  {% for comment in review.comment_set.all %}
  <p class=''>{{ comment.user.username }} | {{ comment.content }}</p>
  <div class='text-end'>
    <form action="{% url 'reviews:comment_delete' review.pk comment.pk %}" method="POST">
      {% csrf_token %}
      {% if request.user == comment.user %}
      <input type="submit" class='btn btn-dark' value='삭제'>
      {%  endif %}
    </form>
  </div>
  <hr>
  {% empty %}
  <p>no comment....</p>
  {% endfor %}
  <div id='comment-create'></div>
  {% endblock content %}

{% block script %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</script>
<script>
    const likeForm = document.querySelector("#like-form")
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    likeForm.addEventListener('submit', function (event) {
        event.preventDefault()
        const reviewId = event.target.dataset.reviewId
        axios({
            method: "post",
            url: `/reviews/${ reviewId }/like/`,
            headers: {'X-CSRFToken': csrftoken,},
        })
          .then((response)=> {
            const likeCount = document.querySelector('#like-count')
            const is_like = response.data.is_like
            const likeBtn = document.querySelector('#like-form > input[type=submit]')
            if (is_like === true){
              likeBtn.value = '좋아요 취소'

            }else{
              likeBtn.value = '좋아요'
            }
            likeCount.innerText = response.data.liketCount
            console.log(is_like)
          })   
    })
    {% comment %} 댓글 비동기 연결 {% endcomment %}
    const commentAdd = document.querySelector('#comment-add')
    commentAdd.addEventListener('submit', function(event) {
      event.preventDefault()
      const reviewId = event.target.dataset.reviewId
      axios({
        method: "post",
        url: `/reviews/${ reviewId }/comments/`,
        headers: {'X-CSRFToken': csrftoken,},
        data: new FormData(commentAdd),
      })
        .then((response) => {
          const comments = document.querySelector('#comment-create')
          comments.insertAdjacentHTML('beforeEnd', `
          <p>${ response.data.userName } | ${ response.data.comment }</p>
          <form class='text-end' action="/reviews/${ reviewId }/comments/${ response.data.commentPk }/comment_delete/" method="POST" data-comment-id=${ response.data.commentPk }>
            {% csrf_token %}
            <input type="submit" class='btn btn-dark' value='삭제'>
          </form>
          <hr>`)
          commentAdd.reset()
        })
      console.log('123')
    })
</script>
{% endblock script %}
