{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% comment %} title {% endcomment %}
{% block title %}{% endblock title %}


{% comment %} body {% endcomment %}
{% block content %}
<h1>리뷰 정보조회</h1>
  <p>{{ review.title }}</p>
  <p>{{ review.content }}</p>
  <p>{{ review.movie_name }}</p>
  <p>{{ review.grade }}</p>
  {% comment %} <form action="{% url 'reviews:like' review.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user.is_authenticated %}
      {% if request.user in review.like_users.all %}
        {% bootstrap_button buton_type="submit" content="좋아요 취소" %}
      {% else %}
        {% bootstrap_button buton_type="submit" content="좋아요" %}
      {% endif %}
    {% else %}
      {% bootstrap_button buton_type="submit" content="로그인이 필요" %}
    {% endif %}
  </form> {% endcomment %}
{% endblock content %}

